.post-item {
  border-bottom: 1px solid get-color(on-surface);
  border-left: 5px solid transparent;
  color: get-color(on-background);
  display: block;
  padding: .5rem .7rem;

  &.selected {
    background: get-color(light-primary);
    border-left-color: get-color(primary);
    color: get-color(on-primary);
  }
}
