//.operation {
//  border-bottom: 1px solid get-color(dark-gray);
//  padding: .5rem;
//}
//
//.btn {
//  font-weight: bold;
//  line-height: 0;
//}

.search-bar {
  border-bottom: 1px solid get-color(dark-gray);
  height: $top-bar-height;
  padding: .5rem;
}
